<!-- WeDev Logo Slider Section -->
<style>
  .wd-logo-list--carousel {
    width: 92%;
    margin: auto;
  }

  .wd-logo-list--carousel .flickity-button {
    color: black;
    background-color: transparent;
    width: 40px;
    position: relative;
    margin-top: 26px;
    top: 60%;
  }

  .wd-logo-list--carousel .flickity-prev-next-button.next {
    right: 0;
    left: auto;
    order: -1;
  }

  .wd-logo-list--carousel .flickity-viewport {
    height: 114px !important;
  }

  .wd-logo-slider-wrapper.carousel {
    display: flex;
    align-items: center;
  }

  .wd-logo-list--carousel .carousel-cell {
    width: calc(100% / 6);
    margin: 0;
  }

  .wd-logo-slider__image {
    max-height: 70px;
    width: auto;
    margin: 0 auto;
  }

  .wd-logo-list--header {
    text-align: left;
    font-size: 1.5em;
  }

  @media screen and (max-width: 767px) {
    .wd-logo-list--carousel .carousel-cell {
      width: calc(100% / 3);
    }

    .wd-logo-slider__image {
      max-height: 48px;
    }

    .wd-logo-list--carousel .flickity-button {
      width: 20px;
    }

    .wd-logo-list--carousel .flickity-viewport {
      height: 65px !important;
      touch-action: pan-y;
    }

    .wd-logo-list--carousel {
      width: 100%;
    }
  }
</style>

<section class="wd-logo-slider-outer-wrapper section">
  <div class="wd-logo-slider-container">
    <div class="wd-logo-list--carousel">
      {% if section.settings.header_text != blank %}
        <h3 class="wd-logo-list--header">{{ section.settings.header_text }}</h3>
      {% endif %}

      {%- assign should_autoplay = false -%}
      {%- if section.blocks.size >= 6 -%}
        {%- assign should_autoplay = true -%}
      {%- endif -%}

      <div class="wd-logo-slider-wrapper carousel main-carousel js-flickity"
        data-flickity='{
          "autoPlay": {{ should_autoplay | json }},
          "wrapAround": {{ should_autoplay | json }},
          "pageDots": false,
          "prevNextButtons": true,
          "draggable": true,
          "pauseAutoPlayOnHover": true
        }'>

        {%- for block in section.blocks -%}
          {%- if block.settings.link -%}
            <a href="{{ block.settings.link }}" class="logo-list__item carousel-cell" {{ block.shopify_attributes }}>
          {%- else -%}
            <div class="logo-list__item carousel-cell" {{ block.shopify_attributes }}>
          {%- endif -%}

          {%- if block.settings.logo != blank -%}
            <img loading="lazy" src="{{ block.settings.logo | img_url: '300x' }}" class="wd-logo-slider__image" alt="Logo">
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'logo-list__image logo-list__image--placeholder' }}
          {%- endif -%}

          {%- if block.settings.link -%}
            </a>
          {%- else -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

    {% if section.settings.button_text != blank %}
      <div class="section__footer">
        <a class="button button--primary" href="{{ section.settings.button_link }}">
          {{ section.settings.button_text }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{{ 'flickity.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "WD Logo slider",
  "class": "shopify-section-wd-logo-slider-section wd-logo-slider-section",
  "settings": [
    {
      "type": "text",
      "id": "header_text",
      "label": "Header text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "logo_background",
      "label": "Logo background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "name": "Logo",
      "type": "logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Image",
          "info": "450 x 150px .png recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "WD Logo slider",
      "blocks": [
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" }
      ]
    }
  ]
}
{% endschema %}
