<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};

    --prev-next-button-background: {{ settings.background.red }}, {{ settings.background.green }}, {{ settings.background.blue }};
    --prev-next-button-color: {{ settings.text_color.red }}, {{ settings.text_color.green }}, {{ settings.text_color.blue }};

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
    --section-logo-background: {{ section.settings.logo_background.red }} {{ section.settings.logo_background.green }} {{ section.settings.logo_background.blue }} / {{ section.settings.logo_background.alpha }};
    --section-logo-count: {{ section.blocks.size | default: 6 }};
  }
</style>

<section class="wd-logo-slider-outer-wrapper section">
    <div class="wd-logo-slider-container">
        <div class="wd-logo-list--carousel">
            {% if section.settings.header_text != blank %}
              <h3 class="wd-logo-list--header">
                {{ section.settings.header_text }}
              </h3>
            {% endif %}
            <div class="wd-logo-slider-wrapper carousel main-carousel  js-flickity" data-flickity='{"autoPlay": true, "freeScroll": true, "wrapAround": true, "pageDots": false, "draggable": true, "prevNextButtons": true }'>
                {%- for block in section.blocks -%}
                    {%- if block.settings.link -%}
                    <a href="{{ block.settings.link }}" class="logo-list__item carousel-cell" {{ block.shopify_attributes }}>
                    {%- else -%}
                    <div class="logo-list__item carousel-cell" {{ block.shopify_attributes }}>
                    {%- endif -%}
                    {%- if block.settings.logo != blank -%}
                        <img loading="lazy" src="{{ block.settings.logo  | img_url: '3000x' }}" class="wd-logo-slider__image" alt="">
                    {%- else -%}
                        {{- 'image' | placeholder_svg_tag: 'logo-list__image logo-list__image--placeholder' -}}
                    {%- endif -%}
                    {%- if block.settings.link -%}
                    </a>
                    {%- else -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>

      {%- if section.settings.button_text != blank -%}
        <div class="section__footer">
          <a class="button button--primary" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
        </div>
      {%- endif -%}
    </div>
</section>
{{ 'flickity.js' | asset_url | script_tag  }}
{% schema %}
{
  "name": "WD Logo slider",
  "class": "shopify-section-wd-logo-slider-section wd-logo-slider-section",
  "settings": [
    {
      "type": "text",
      "id": "header_text",
      "label": "Header text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "logo_background",
      "label": "Logo background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "name": "Logo",
      "type": "logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Image",
          "info": "450 x 150px .png recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "WD Logo slider",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}