<h1>{{ product.title }}</h1>
<p>{{ product.price | money }}</p>

<div>
    {{ product.description }}
</div>


{% comment %}
  we want to specify the type of the form
  when we specify it we want to pass it's arguments that it supposed to get, not all forms 
  needs to get but some of them do,
  the button that we add here will automatically add the product to the cart 
{% endcomment %}
{% form 'product', product %}
  <select name="id">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">
        {{ variant.title }}
      </option>    
    {% endfor %}
  </select>
  <button type="submit">Add to cart</button>
{% endform %}
